/* Inherit styles from the body element

All elements will take on the values given to the body style. */
<style>
  body {
    background-color: black;
    color: green;
    font-family: monospace;
  }

</style>
<h1>Hello World</h1>
